html, body {
  margin: 0;
  font-family: Roboto;
  background-color: #008FA1;
  color: white;
}

/* Reusable CSS */
.margin-right {
  margin-right: 10px
}

.padding-left {
  padding-left: 10px
}

.margin-left {
  margin-left: 10px
}

.text-center {
  text-align: center;
}

/* Selectors */

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.contact-cont {
  display: flex;
  flex-direction: column;
}

.work-cont {
  margin: 0 auto;
  max-width: 50em
}

.main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 50em;
  margin-top: 20px
}

.skill-cont {
  display: flex;
  justify-content:center;
  margin-top: 40px;
}

.port-cont {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 0 50px 0 50px;
}

.my-name {
  font-size: 40px;
}

.front-pic {
  border-radius: 80%
}

.about-pic {
  border-radius: 50%;
}

.flex {
  display: flex;
}

td {
  padding: 10px 10px 10px 10px;
}


@media all and (max-width: 640px) {
  .about-cont {
    flex-direction: column;
    align-items: center
  }
  .about-pic {
    max-width: 40%
  }
  .port-pic {
    height: 213px;
    width: 319px;
  }
  .port-cont {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .collapse-column {
    display: none
  }
}
